<figure class="mjs-image">
    <img src="{{urlPrefix}}{{url}}{{urlSuffix}}" alt="{{altText}}" />
    <figcaption class="caption">
        {{#if caption}}{{caption}}{{/if}}
        {{#if caption}}{{credit}}<span class="credit">{{credit}}</span>{{/if}}
    </figcaption>
</figure>
